$secondary-color: #00a826;
$background-contrast: #383838;

* {
    box-sizing: border-box;
}
body,
html {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

@import "./src/components/card/card";
@import "./src/components/Select/select";
@import "./src/components/Button/button";
@import "./src/components/Main/main";
@import "./src/components/Header/header";
@import "./src/components/Result/result";
@import "./src/components/Loading/loading";
