.select{
    text-align: center;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: normal;
    height: 32px;
    width: 80%;

    &__players{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 32px;
        width: 80%;
    }

    &__span{
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        border: none;
        background-color: white;
        text-align: center;
        width: 48px;
        height: 100%;
    }
}